@import "../../variables.scss";

.GameCellConnected {
    &--faded {
        opacity: 0.5;
    }

    &--permanent {
        background-color: color("primary", 1);
    }

    &--passing {
        cursor: pointer;
    }
}