@import "../../variables.scss";

.GameBoard {
    &__cells {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    &__container {
        height: 0;
        width: 100%;
        position: relative !important;
        padding: 0 0 100% 0 !important;
    }

    &__cell {
        height: percentage(1 / $boardSize);
        width: percentage(1 / $boardSize);
    }
}
