@import "../../variables.scss";

$cellModes: (
    "letter-double": "letterDouble",
    "letter-triple": "letterTriple",
    "word-double": "wordDouble",
    "word-triple": "wordTriple",
    "standard": "standard",
    "root": "root",
    "stand": "stand",
);

$cellColors: (
    "standard": color("secondary3", 1),
    "letterDouble": color("secondary1", 1),
    "letterTriple": color("secondary1", 2),
    "wordDouble": color("secondary2", 1),
    "wordTriple": color("secondary2", 2),
    "root": color("secondary3", 2),
    "stand": lighten(color("primary", 1), 10%),
);

$cellDescription: (
    "standard": "",
    "letterDouble": "2L",
    "letterTriple": "3L",
    "wordDouble": "2W",
    "wordTriple": "3W",
    "root": "🟆",
    "stand": "",
);

$cellFontSize: (50 / 15) + vw;

.GameCell {
    border: 1px solid $white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    font-weight: $bold;
    font-size: #{$cellFontSize};

    user-select: none;

    &--content {
        background-color: color("primary", 1);
        border-radius: 3px;
        border-color: lighten(color("primary", 1), 10%);
        color: color("primary", 4);
        position: relative;
        display: flex;
        justify-content: center;

        & > .GameCell__letter {
            position: absolute;
            font-size: calc(#{$cellFontSize} * 0.9);
        }

        & > .GameCell__points {
            position: absolute;
            color: lighten(color("primary", 4), 5%);
            font-size: calc(#{$cellFontSize} * 0.5);
            bottom: 2px;
            line-height: 1;
            text-align: right;
            right: 2px;
        }
    }

    &--empty {
        & > .GameCell__points {
            display: none;
        }

        @each $className, $modeName in $cellModes {
            $color: map-get($cellColors, $modeName);

            &.GameCell--#{$className} {
                background-color: lighten($color, 10%);
                border-color: lighten($color, 20%);

                &::after {
                    content: map-get($cellDescription, $modeName);
                    color: $white;
                }
            }

            &.GameCell--root {
                &::after {
                    font-size: calc(#{$cellFontSize} * 1.5);
                    padding-top: calc(#{$cellFontSize} * 0.15);
                }
            }
        }
    }

    &--dropHover {
        background-color: red;
    }
}
