.GameStand {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;

    &__cell {
        @media (orientation: landscape) {
            $size: 7vh;
            width: $size;
            height: $size;
        }
        @media (orientation: portrait) {
            $size: 8vw;
            width: $size;
            height: $size;
        }
    }
}
